.trad-wrapper-full {
    position: relative;
    max-width: 100%;
    background-color: #f1f1f1;
    z-index: 0;
    padding: 20px;
}
.trad-cta-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    text-align: left;
    border-radius: 3px;
    flex-direction: column;
    justify-content: space-around;
}

.trad-details-wrapper h2 {
    font-weight: 600;
    margin: 0 0 4px 0;  
    color: #000000;
    font-size: 28px;
}

.trad-details-wrapper{
    font-size: 18px;
    color: #000000;
}

/* Mobile view adjustments */
@media only screen and (max-width: 767px) {
    .trad-details-wrapper {
        float: center;
        width: 100%;
    }
}
.trad-wrapper-full::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: -1;
}
.trad-cta-wrapper{
    z-index: 0;
}

/* // image container// */
.trad-cta-image-wrapper{
     width: 50%;
}
.trad-cta-image-wrapper img{
    width: 100%;
}

.trad-cta-button-wrapper{
    display: flex;
    gap: 15px;
}
.trad-blue-cta-button1{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.trad-blue-cta-button2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.trad-blue-cta-button1 svg,
.trad-blue-cta-button2 svg{
    width: 18px;
}