/* =====================================icon button
====================================================================// */
.trad-custom-button{
    position: relative;
    padding: 5px 20px;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    font-weight: 500;
    color: #fcfcfc;
    /* width: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3547ee; 
    overflow: hidden;
}
.trad-custom-button-container a{
    color: #ffffff;
}
.trad-custom-button i,
.trad-custom-button svg{
    color: #fcfcfc;
    fill: #fcfcfc;
}
.trad-custom-button:hover{
    color: #fff;
}

.trad-custom-button:hover i, .trad-custom-button:hover svg{
    transition: all 0.3s ease-in-out;
}
.trad-custom-button i, .trad-custom-button svg{
    transition: all 0.3s ease-in-out;
}
.trad-custom-button-container{
    position: relative;
    overflow: hidden;
}

.trad-custom-button-container .text-wrapper{
    z-index: 1;
}

/* ----------button hover animation---------------// */
.trad-custom-button.from-left::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.3s ease-in-out, background-color 0.5s ease-in-out;
    background:rgba(5, 163, 255, 0.925);
}
.trad-custom-button.from-left:hover::before{
    left: 0;
}

/* --------------------------------------------//from right/// */
.trad-custom-button.from-right::before{
    background:rgba(5, 163, 255, 0.925);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    transition: left 0.3s ease-in-out, background-color 0.5s ease-in-out;
}
.trad-custom-button.from-right:hover::before{
    left: 0; 
}


/* ---------------------------------------------From Top */
.trad-custom-button.from-top::before {
    background:rgba(5, 163, 255, 0.925);
    content: "";
    position: absolute;
    top: -100%;          
    left: 0;
    width: 100%;
    height: 100%;
    transition: top 0.3s ease-in-out;    
}
.trad-custom-button.from-top:hover::before {
    top: 0; 
}

/* -----------------------------------------From Bottom */
.trad-custom-button.from-bottom::before {
    background:rgba(5, 163, 255, 0.925);
    content: "";
    position: absolute;
    bottom: -100%;               
    left: 0;
    width: 100%;
    height: 100%;
    transition: bottom 0.3s ease-in-out; 
}
.trad-custom-button.from-bottom:hover::before {
    bottom: 0;
}

/* -------------------------------------------Expand Vertical */
.trad-custom-button.expand-vertical::before {
    background:rgba(5, 163, 255, 0.925);
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    transition: all 0.3s ease-in-out;
    /* transform: translateY(-50%);  */
}
.trad-custom-button.expand-vertical:hover::before {
    height: 100%;
    top: 0;
    /* transform: none; */
}

/* ----------------------------------------------Expand Horizontal */
.trad-custom-button.expand-horizontal::before {
    background:rgba(5, 163, 255, 0.925);
    content: "";
    position: absolute;
    top: 0;
    left: 50%;                    
    width: 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}
.trad-custom-button.expand-horizontal:hover::before {
    width: 100%; 
}

/* ---------------------------------------------Expand Circular */
.trad-custom-button.expand-circular::before {
    background:rgba(5, 163, 255, 0.925);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;            
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s ease-in-out;
}
.trad-custom-button.expand-circular:hover::before {
    width: 600px;                  
    height: 600px;
    transform: translate(-50%, -50%) scale(1); 
}
/* ------------------------------------------reveal-radial// */

.trad-custom-button.reveal-radial::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  background:rgba(5, 163, 255, 0.925);
  transition: all 0.3s ease-in-out;
  z-index: 0;
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
}

.trad-custom-button.reveal-radial:hover::before {
  width: 100%;
  height: 100%;
  left: 0;
  clip-path: none;
}

